body {
    background-color: #FFE69E;
    font-family: 'Asap Condensed', sans-serif;
}

#heading {
    background-color: #FFA86B;
    color: #1E1E24;
    padding: 30px 30px;
    text-align: center;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    border-radius:15px;
}


.screen {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-content: center;
    flex-flow: column wrap;
    background-color: #FFCC84;
    color: #1E1E24;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    border-radius: 15px;
    flex-shrink:1;
}
.contain {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-content: center;
    flex-flow: column wrap;
}

a {
    /*padding: 20px;
    color: white;
    border: 10px #7A6F9B solid;
    padding: 15px;
    background-color: #FEC0AA;*/
    text-decoration: none;
}

    a:visited {
        color: black;
    }



#links {
    padding: 20px;
    text-align: center;
    align-content: center;
    float: left;
    margin-left:10px;
    margin-right:10px;
}

nav {
    text-decoration: none;
    padding: 15px;
    display: block;
    float: left;
    padding: 15px;
}

.container {
    display: flex;
    flex-direction: column;
}

.center {
    margin: auto;
    width: 60%;
    padding: 10px;
}
#clickMe {
    padding: 10px;
    color: black;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 3px 10px 0 rgba(0,0,0,0.19);
}
    #clickMe:hover {
        padding: 10px;
        color: black;
        margin-bottom: 10px;
        border-radius: 5px;
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    }
.juice {
    background-color: #BFBFBF;
    margin: 20px;
    padding: 20px;
    color: Black;
    width: 1200px;
    height: 200px;
    padding-bottom: 50px;
    border-radius:15px;
}
.shadow {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.shadowTxt {
    text-shadow: 1px 2px 8px rgba(0,0,0,0.2);

